.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sorting {
  border-bottom: 3px solid #b2d4d4;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sorting h1 {
  font-size: 2rem;
  color: teal;
  text-decoration: none;
}

.sorting button {
  font: inherit;
  color: teal;
  border: 1px solid teal;
  background-color: transparent;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.sorting button:hover {
  background-color: #c2fafa;
}
